.red {
    background-color: #f71f6c;
    color: white;
}

.blue {
    background-color: #53d2f9;
    color: black;
}

.purple {
    background-color: #7A53F9;
    color: white;
}

.pastel {
    background-color: #e7dc76;
    color: black;
}

.orange {
    background-color: #f7aa1f;
    color: black;
}

.yellow {
    background-color: #FFFF00;
    color: black;
}

.green {
    background-color: #d2f953;
    color: black;
}
